@import "tailwindcss";

@theme {
  --color-primary: #135bec;
  --color-primary-dark: #0f4bc4;
  --color-background-light: #f6f6f8;
  --color-background-dark: #101622;
  --color-surface-light: #ffffff;
  --color-surface-dark: #1e293b;
  --color-border-light: #cfd7e7;
  --color-border-dark: #334155;
  --color-text-main: #0d121b;
  --color-text-muted: #4c669a;
  --font-family-display: "Public Sans", sans-serif;
  --radius: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

body {
  font-family: "Public Sans", sans-serif;
}